<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nested selector</title>
    <link rel="stylesheet" href="nested.css">
</head>

<body>
    <ul>
        <li><a href="">home
            <ul>
               <li><a href="">facebook</li>
                <li><a href="">twiter</li>
                    <li><a href="">instagram</li>
                        <li><a href="">whatsup</li>
                         </ul>
                             </a></li>

        <li><a href="">service
            <ul>
                <li><a href="">laptop</li>
                    <li><a href="">computer</li>
                        <li><a href="">notepad</li>
                            <li><a href="">mobile</li>
                                </ul>
                                  </a></li>
                               
        
        <li><a href="">price 
            <ul>
             <li><a href=""></a>100</li>
                 <li><a href=""></a> 300</li>
                     <li><a href=""></a> 700</li>
                        <li><a href=""></a> 900</li>
                          </ul>
                            </a></li>


        <li><a href="">contact us
            <ul>
               <li><a href=""></a>samadhan</li>
                   <li><a href=""></a>arbaaj</li>
                       <li><a href=""></a>abhijit</li>
                           <li><a href=""></a>vishal</li>
                               </ul>
                                 </a></li>

</body>

</html>