<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout1.css">
</head>
<body>
    <main>
        <header>
            <!-- <h1>heading</h1> -->
            <img src="img/2.jpg" alt="">
        </header>
        <section>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">dish</a>
                <ul class="submenu" >
                    <li><a href="#">paneer</a></li>
                    <li><a href="#">dal</a></li>
                    <li><a href="#">gravy</a></li>
                    <li><a href="#">rice</a></li>
                </ul>
                </li>
                <li><a href="#">about</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#">service</a></li>
            </ul>
        </section><br>
        <footer>this is footer</footer>
    </main>
</body>
</html>