<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nest.css">
</head>
<body>
    <main>
        <header>
            <h1>Heading</h1>
        </header>
        <menu>
            <ul class="main-menu">
                <li><a href="">Home</a></li>
                <li><a href="">Dish</a>
                    <ul class="sub-dish">
                        <li><a href="">Paneer</a>
                            <ul class="paneer-dish">
                                <li><a href="">PBM</a>
                                    <ul class="pbm-dish">
                                        <li><a href="">Sweet</a></li>
                                        <li><a href="">Medium</a></li>
                                        <li><a href="">Spicy</a></li>
                                        <li><a href="">Special</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Paneer Masala</a></li>
                                <li><a href="">Palak Paneer</a></li>
                                <li><a href="">Shahi Paneer</a></li>
                            </ul>
                        </li>
                        <li><a href="">Daal</a></li>
                        <li><a href="">Rice</a></li>
                        <li><a href="">Naan</a></li>
                    </ul>
                </li>
                <li><a href="">Services</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </menu>
        <footer>
            <h1>footer</h1>
        </footer>
    </main>
</body>
</html>