/* *{
    margin: 0;
} */
main{
    display: flex;
    flex-direction: column;
}
header{
    background-color: aqua;
}
menu{
    background-color: burlywood;
}
menu ul
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
menu ul li a{
    text-decoration: none;
    font-weight: bold;
}
menu ul .sub-dish 
{
 display: none;   
}
menu .main-menu li:hover .sub-dish{
    display: block;
}

menu .main-menu .sub-dish .paneer-dish{
    display: none;
}
menu .main-menu .sub-dish li:hover .paneer-dish {
    display: block;

}
menu .main-menu .sub-dish li:hover .paneer-dish li a{
    color:chocolate;
}
menu .main-menu .sub-dish .paneer-dish .pbm-dish{
display: none;
}
menu .main-menu .sub-dish .paneer-dish li:hover .pbm-dish{
    display: block;

}
menu .main-menu .sub-dish .paneer-dish li:hover .pbm-dish li a
{
    color: red;
    }
    menu .main-menu .sub-dish .paneer-dish li .pbm-dish li a:hover
{
    color: yellow;
    }
footer{
    background-color: chartreuse;
}